/* Inserta tu CSS aqui */
div {
	border: 1px solid white;
	background-color: #556B2F;
    opacity: 0.8;
}
.Canchita {
	width: 1000px;
	height: 600px;
}
.Linea {
	position: relative;
	top: 50px;
	left: 50px;
	width: 900px;
	height: 500px;
}
.Arco {
	position: absolute;
	width: 150px;
	height: 200px;
	top: 150px;
}
.Izquierdo {
	border-left: transparent;
}
.Derecho {
    left: 749px;
    border-right: transparent;
}
.Circulo {
	position: absolute;
	top: 150px;
	left: 350px;
	width: 200px;
	height: 200px;
    border-radius: 100%;
}
img {
	position: absolute;
}
.Pelota1 {
	top: 155px;
	left: 140px;
}
.Pelota2 {
	top: 90px;
	left: 450px;
}
.Pelota3 {
	top: 325px;
	left: 720px;
}
















































